
.box { 
position: relative;
left: 2%;
flex-wrap: wrap;
background-color: rgb(146, 13, 3);
border-width: 50px;
padding: 25px;
border-radius: 15px;
max-width: 625px; }

.box2 {
text-align: center;     
position: relative;
left: 10%;
flex-wrap: wrap;
background-color: rgb(146, 13, 3);
border-width: 50px;
padding: 25px;
border-radius: 15px;
max-width: 300px; }

body { max-height: 100%;
        max-width: 100%;
        background-image: url("fellas.png");
            background-size: 100%;
                background-repeat: no-repeat;
                background-color: black;
            overflow: auto; }
                   
button { height: 100px; 
                width: 150px;
            background-color: #333;
                border-radius: 5px;
            border-color: linen; 
            border-style: outset;
            border-width: 2px;
            padding: 20px;
            
            }


h1 { font-family: 'Anton', sans-serif;
      font-size: 2.0em;
        color: rgb(146, 13, 3);
        font-weight: bold; }

h2 {font-family: 'Limelight', cursive;
    font-size: 2.0em;
      color: linen;
      font-weight: bold; }

 p { font-family: 'Patua One', cursive;
    font-size: 1.5em;
       color: black; 
        font-weight: bolder;  }


        p2 { font-family: 'Patua One', cursive;
                                font-size: 1.5em;
                                   color: rgb(146, 13, 3);
                                    font-weight: bolder; }

    p3 {font-family: 'Anton', sans-serif;
            font-size: 1.45em;
            color: linen;
            background-color: black }                                
                              

            #foobar { display: none }


